/* styles the title of component page we are switching */
main h2 {
  font-size: 3rem;
}
/* styles the headers on top of profencey columns */
.pro {
  font-size: 2.5rem;
}

/* styling for About */
.fa-user-circle {
  font-size: 6rem;
}

/* styling for Resume */
.skills .list-group-item {
  background-color: transparent;
  color: var(--light);
  border-color: var(--dark);
}
